:host {
    --app-primary-color: #4285f4;
    --app-secondary-color: black;

    display: block;
  }     
  app-header {
    color: #fff;
    background-color: var(--app-primary-color);
    direction: ltr;
  }
  app-header paper-icon-button {
    --paper-icon-button-ink-color: white;
  }

  app-drawer-layout:not([narrow]) [drawer-toggle] {
    display: none;
  }
 
  app-drawer app-toolbar {
    font: 500 14px/44px Roboto,sans-serif;
    font-weight: bold;
  }
  
  app-header app-toolbar {
    height: 48px;
    background: #3367d6;
    font-weight: bold;
    --paper-tabs-selection-bar-color: #fff;
  }

  app-header app-toolbar paper-tabs {
    width: 100%;
    height: 100%;
  }

  app-header app-toolbar paper-tab { 
  }

  paper-tab[link].iron-selected a {
    font-weight: bold;
    color: #fff;
  }

  paper-tab[link] a:focus, paper-tab[link] a:hover {
    color: #fff;
  }
  paper-tab[link] a {
    transition: color .2s;
    color: rgba(255,255,255,.7);
  }

  paper-tab[link] a, app-header app-toolbar .logo a {
    /* These mixins (from iron-flex-layout) center the link text. */
    @apply(--layout-horizontal);
    @apply(--layout-center-center);
    text-decoration: none;
    padding: 0 24px;
  }

  app-header app-toolbar .logo {
    padding: 6px 0;
    flex: 0 0 auto;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }
  
  app-header app-toolbar .logo iron-icon {
    height: 36px;
    width: 36px;
    margin-left: 16px;
  }

  app-header app-toolbar .logo a {
    padding-left: 0px;
    transition: color .2s;
    color: #fff;
  }

  app-header app-toolbar .logo a:focus, app-header app-toolbar .logo a:hover {
    color: rgba(255,255,255,.7);
  }

  .drawer-list {
    margin: 0 20px;
  }

  .drawer-list a, slot[name='drawertab']::slotted(a) {
    display: block;
    padding: 0 16px;
    text-decoration: none;
    color: var(--app-secondary-color);
    line-height: 40px;
  }

  .drawer-list a:hover, slot[name='drawertab']::slotted(a:hover), slot[name='drawertab']::slotted(a.iron-selecte:hover) {
    color: white;
    background-color: #4285f4;
  }

  .drawer-list a.iron-selected, slot[name='drawertab']::slotted(a.iron-selected) {
    color: black;
    font-weight: bold;
  }

  .menu-drawer-button {
    display: inline-block;
    height: 100%;
    /* width: 34px; */
    min-width: 27px;
    padding: 0;
  }

  paper-button.play {
    padding: 0 7px;
    height: 36px;
    display: inline-flex;
    background-color: #4285f4;
    transition: color .2s;
    color: white;
    --paper-button-raised-keyboard-focus: {
      background-color: var(--paper-pink-a200) !important;
      color: white !important;
    };
  }

  paper-button.play iron-icon {
    margin-right: 5px;
  }
  paper-button.play span {
    font-size: 16px;
    white-space: nowrap;
  }

  @media only screen and (max-width: 768px) {
    #headertoolbar {
      --paper-tabs-container: {
        width: 100%;
      }
    }
    app-header app-toolbar .logo iron-icon {
      margin-left: 10px;
    }
    app-header app-toolbar .logo a {
      padding-right: 8px;
    }
    .menu-drawer-button {
      padding-right: 7px;
      min-width: 40px;
    }
    app-header app-toolbar {
      padding: 0;
    }
    paper-button.play {
      display: none;
    }
  }
