<!-- JSPM -->
<!--<script src="/asset/javascript/js.package/system.js"></script>
<script> System.config({ baseURL: "/asset/javascript/" }); </script>
<script src="/asset/javascript/jspm.config.js"></script>-->

<!-- Load Custom Elements es5 adapter - Fixing (supposedly) workaround ES5-style classes cannot properly extend ES6 classes - https://github.com/webcomponents/webcomponentsjs#custom-elements-es5-adapterjs --> 
<!--<script src="/asset/webcomponent/bower_components/webcomponentsjs/custom-elements-es5-adapter.js"></script>
<script src="/asset/webcomponent/bower_components/webcomponentsjs/webcomponents-loader.js"></script>-->

<script>
// SZN App global class
{
    const AppFrontEnd = JSON.parse('{%= JSON.stringify(Application.frontend) %}')
    AppFrontEnd.instance = JSON.parse('{%= JSON.stringify(context.instance) %}')
    // Initialize the window object 'App' That will contain all utility functions and behaviors for the app //
    // class AppClass {
    //     constructor() {
    //     }
    // } 
    function AppClass() {
    };
    // Global Object that handles the app and other stuff.
    window.App = AppFrontEnd || new AppClass();
    const App = window.App
    App.module = App.module || {}; // polymer behaviors that include functions and properties.

    const behavior = { // Setting behavior for the app.
        properties: {
            app: {
                type: Object,
                value: function() {
                    return App
                },
                notify: true,
                reflectToAttribute: true,
            },
        },
    };
    App.behavior = App.behavior || {}; // polymer behaviors that include functions and properties.
    App.behavior = behavior
    // System.import('setting.behavior.js').then(exports => window.App.behavior.setting = exports.default);
    // Mixins are not supported curretly by Polymer, and babel as a side effect of hacks created.
    // window.App.mixin = window.App.mixin || {};
    // System.import('setting.mixin.js').then(exports => window.App.mixin.setting = exports.default);

    // class MixinBuilder {  
    //     constructor(superclass) {
    //         this.superclass = superclass;
    //     }

    //     with(...mixins) { 
    //         return mixins.reduce((c, mixin) => mixin(c), this.superclass);
    //     }
    // }
    // window.App.module.Mixin = (superclass) => new MixinBuilder(superclass);   
}
</script>    


<script>    
// // Polymer settings, Polyfill
// {
//     // Load Polymer (importing through the bower using the first webcomponent to be imported to the document, which includes `../polymer/polymer.html` import) 
//     // NOTE: Problem that it is executed after the below code.
//     // System.import('polymer@2.0-preview/polymer.html!')
//     // System.import('http://cdn.localhost/asset/webcomponent/bower_components/polymer/polymer.html!')

//     // Web performance API
//     // window.performance && performance.mark && performance.mark('entrypoint.html');

//     // Webcomponents Loader resolves all checks and loads polyfills if necessary.
//     var script = document.createElement('script');
//     script.async = true;
//     script.src = '/asset/webcomponent/bower_components/webcomponentsjs/webcomponents-loader.js';
//     // script.onload = afterLoad; // webcomponents-loader.js will load the polyfill, only then should be called "afterLoad" function.
//     document.head.appendChild(script);        

//     // // Load webcomponentsjs polyfill if browser does not support native Web Components
//     // function afterLoad() {
//     //     // For native Imports, manually fire WebComponentsReady so user code
//     //     // can use the same code path for native and polyfill'd imports.
//     //     if (!window.HTMLImports) {
//     //         window.dispatchEvent(
//     //             new CustomEvent('WebComponentsReady', {bubbles: true})
//     //         );
//     //     }
//     // };

//     // let webComponentsSupported = (
//     //     'registerElement' in document &&
//     //     'import' in document.createElement('link') &&
//     //     'content' in document.createElement('template')
//     // );
    
//     // if (!webComponentsSupported) {
//     //     console.info('☕ Polyfill webcomponents. Loading webcomponents javascript.')
//     //     let script = document.createElement('script');
//     //     script.async = true;
//     //     script.src = '/asset/webcomponent/bower_components/webcomponentsjs/webcomponents-loader.js';
//     //     // script.onload = afterLoad; // webcomponents-loader.js will load the polyfill, only then should be called "afterLoad" function.
//     //     document.head.appendChild(script);        
//     //     // load tag 1.0.0-rc.4
//     //     // JSPM Causes `detected as amd but didn't execute correctly.` which needs configuration. Using bower istead.
//     //     // System.import('webcomponentsjs/webcomponents-lite.js')
//     // } else {
//     //     console.info('☕ Native webcomponents. Dispaching \'WebComponentsReady\' event manually.')
//     //     window.addEventListener('load', () => { // inorder for the event listener to be registered before dispatching it.
//     //         afterLoad();
//     //     })
//     // }
// }
</script>    

<script>    
// Service Worker
{
    var App = window.App
    // Load pre-caching Service Worker
    navigator.serviceWorker && window.addEventListener('load', function() {
        navigator.serviceWorker.register(window.location.origin + '/serviceWorker.js', {scope: App.config.PROTOCOL + App.config.HOST }).then(function(registration) {
            console.info('☕ Service Worker - registered with scope: ' + registration.scope)
        })
    });
}
</script>


<!-- <script src="http://localhost:8087/socket.io/socket.io.js"></script>
<script>
  var socket = io('http://localhost:8087');
  socket.on('connect', function(){
      console.log('Connected !!')
  });
  socket.on('event', function(data){
    console.log(data)

  });
  socket.on('disconnect', function(){});
</script> -->

<script>
// Create a socket instance
var socket = new WebSocket('{%= Application.extendedSubclass.static["WebSocket"].url %}');

// Open the socket
socket.onopen = function(event) {
    console.log('☕ WebSocket connected.')
    
	// Send an initial message
	// socket.send('I am the client and I\'m listening!');
	
	// Listen for messages
	socket.onmessage = function(event) {
		console.log('Client received a message',event);
	};
	
	// Listen for socket closes
	socket.onclose = function(event) {
		console.log('Client notified socket has closed', event);
	};
	
	// To close the socket....
	//socket.close()
	
};
</script>