<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="{%= context.frontend.setting.location.cdnBasePath %}" target="_top"><!-- base url for all relative urls.  -->
    <!-- location of import is important, as it should be loaded before document-element -->
    <!-- <link rel="import" href="/asset/webcomponent/@package/polymer/polymer-element.html"> -->
    {% print(templateController.renderedContentString('header', view)) %}
    <link rel="preload" rel="stylesheet" href="/asset/stylesheet/default.css">
    <script class="transform" src="/@webcomponent/document-element/entrypoint.js$renderJSImportWebcomponent" type="module" defer></script>
  </head>
  <body>
    {% print(templateController.renderedContentString('bodyOpen', view)) %}
    <document-element documentKey>
        <span id="loader" style="direction: ltr; text-align: center; width: 100%; display: block; margin: auto; margin-top: 20px;">⫷ 𝕃𝕠𝕒𝕕𝕚𝕟𝕘... ⫸</span>
        <script> setTimeout(function(){ document.getElementById('loader').style.display = "none"; }, 10000) </script>
    </document-element>
    {% print(templateController.renderedContentString('bodyClose', view)) %}
  </body>
</html>
<!-- With ❤ From AppScript.io -->
