/* GRID MASONRY - https://codepen.io/anon/pen/WzzzpQ */

#gridSupportMessage {
    border: 1px solid #d2d0d0;
    padding: 2em;
    font-size: 1.7vw;
    box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);
}  
@supports(display: grid) {
    #gridSupportMessage {
        display: none;
    }
}
.grid {
    display: grid;
    grid-gap: 20px;
    /* grid-column-gap: 10px;
    grid-row-gap: 10px; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 150px;
    grid-auto-flow: row dense;
}
.grid .item:first-child {
    /* visibility: hidden; */
    grid-row-end: span 1;
    counter-reset: item-counter -1;  /* because first element is ignored */
    background-color: transparent;

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
    
}
.grid .item:first-child::before {
    display: none;
}
.item {
    grid-column-start: auto;
    grid-row-start: auto;
    counter-increment: item-counter 1;
    grid-row-end: span 2;

    box-sizing: border-box;
    background: white;
    box-shadow: -2px 2px 10px 0px rgba(#444, 0.4);

    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */

}
.item::before {
    content: counter(item-counter);
    font-weight: bold;
    font-size: 1.1rem;
    padding-right: 0.5em;
    color: #444;
}
.title {
    font-size: 45px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
